:root {
  --color-primary: #3c3c3b;
  --color-primary-light: #efedec;
  --color-bright: #ffae00;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "muli", sans-serif;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: "Playfair Display";
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  background-color: var(--color-primary);
}

#scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: var(--color-primary);
  background-color: var(--color-primary);
}

.wrapper {
  width: 100%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head"  "results" "recipe" "shopping";
}

.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #22c1c3;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.copyright {
  color: #968b87;
  font-size: 1.2rem;
  margin-top: auto;
}

.link:link,
.link:visited {
  color: #968b87;
}

.loader {
  margin: 5rem auto;
  text-align: center;
}

.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: var(--color-bright);
  -webkit-transform-origin: 44% 50%;
          transform-origin: 44% 50%;
  -webkit-animation: rotate 1.5s infinite linear;
          animation: rotate 1.5s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* == HEADER == */
.header {
  background-color: var(--color-primary-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 999;
  height: 8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.2rem;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  padding: 2rem 4rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: var(--color-bright);
  color: #fff;
}

.header .logo ion-icon {
  font-size: 2rem;
  line-height: 1;
  margin-right: .5rem;
}

@media only screen and (max-width: 68.75em) {
  .header .logo__title {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .header .logo {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .header .logo {
    padding: 1rem 1rem;
  }
}

.header .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 60rem;
  width: 100%;
  color: var(--color-primary);
  padding: .8rem 1.6rem;
  margin-left: 4rem;
  margin-right: auto;
  border: solid 2px var(--color-primary);
  border-radius: 10rem;
}

@media only screen and (max-width: 68.75em) {
  .header .search {
    margin-left: 2rem;
    width: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  .header .search {
    margin-left: 1rem;
    margin-right: .5rem;
    width: 35%;
    padding: .5rem;
  }
}

.header .search input {
  font-family: inherit;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1100 - 300)));
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding-left: 1rem;
}

.header .search input:focus {
  border: none;
  outline: none;
}

.header .search__btn {
  z-index: 9999;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  height: 100%;
}

.header .menu > div {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-primary);
  opacity: 1;
  padding: 0 3rem;
  visibility: visible;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 68.75em) {
  .header .menu > div {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .header .menu > div {
    padding: 0 .5rem;
    border: #fdbb2d 2px solid;
  }
}

.header .menu > div:hover {
  background-color: var(--color-bright);
}

.header .menu__favourite:hover .menu__favourite__panel {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header .menu__favourite__panel {
  position: absolute;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 0 0 .5rem .5rem;
  right: 0;
  top: 8rem;
  z-index: 999999;
  padding: 0rem;
  width: 30rem;
  background-color: var(--color-bright);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  list-style: none;
}

@media only screen and (max-width: 20em) {
  .header .menu__favourite__panel {
    width: 25rem;
  }
}

.header .liked__item__panel {
  display: block;
}

.header .liked__item__panel a:last-of-type {
  border-radius: 0 0 5px 5px;
}

.header .liked__item__panel__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .header .liked__item__panel__div {
    padding: 1.5rem 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header .liked__item__panel__div:hover {
  background-color: var(--color-primary);
}

.header .liked__item__panel__img {
  max-width: 6rem;
  height: 8rem;
  border-radius: 2px;
  margin-right: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

@media only screen and (max-width: 37.5em) {
  .header .liked__item__panel__img {
    max-width: 5rem;
    height: 7rem;
    margin-right: 0rem;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .header .liked__item__panel__img {
    max-width: 4rem;
    height: 6rem;
    margin-right: 0rem;
    margin-left: 1.5rem;
  }
}

.header .liked__item__panel__title {
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--color-primary-light);
  font-weight: 100;
}

/* BUTTONS */
a {
  text-decoration: none;
}

.button {
  line-height: 1;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-bright);
}

.button:hover {
  -webkit-transform: translateY(-2px) scale(1.05);
          transform: translateY(-2px) scale(1.05);
}

.button:active {
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
}

.no__found {
  max-height: 55vh;
  max-width: 100%;
}

.btn,
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: var(--color-bright);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover,
.btn-small:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn:focus,
.btn-small:focus {
  outline: none;
}

.btn > *:first-child,
.btn-small > *:first-child {
  margin-right: .1rem;
}

.btn {
  padding: 1.3rem 1.3rem;
  font-size: 1.4rem;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  font-size: 1.3rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
}

.btn-small svg,
.btn-small:link svg,
.btn-small:visited svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.btn-inline {
  color: #22c1c3;
  font-size: 1.2rem;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-inline svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn-inline span {
  margin: 0 0.4rem;
}

.btn-inline:hover {
  color: #22c1c3;
  background-color: #f2efee;
}

.btn-inline:focus {
  outline: none;
}

.btn-tiny {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-tiny svg {
  height: 100%;
  width: 100%;
  fill: var(--color-bright);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-tiny:focus {
  outline: none;
}

.btn-tiny:hover svg {
  fill: var(--color-bright);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-tiny:active svg {
  fill: var(--color-bright);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-tiny:not(:last-child) {
  margin-right: 0.3rem;
}

/* == CONTENT == */
.container {
  padding: 1rem 1em;
  width: 100%;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .container {
    padding: 6rem 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    padding: 2rem 1rem;
  }
}

.to-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*--- Container Home ---*/
.container__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .container__home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container__home > * {
  padding: 4rem;
}

@media only screen and (max-width: 75em) {
  .container__home > * {
    padding: 3rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .container__home > * {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__home > * {
    padding: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .container__home > * {
    padding: 1.5rem;
    text-align: center;
  }
}

.container__home-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 6rem;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .container__home-title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .container__home-title {
    font-size: 3.5rem;
  }
}

.container__home-text {
  color: #000;
  font-size: 2rem;
  font-weight: 200;
}

@media only screen and (max-width: 37.5em) {
  .container__home-text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 20em) {
  .container__home-text {
    font-size: 1.6rem;
  }
}

.container__home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__home-left img {
  max-width: 80%;
}

@media only screen and (max-width: 56.25em) {
  .container__home-left img {
    max-width: 60%;
    margin-bottom: 3rem;
  }
}

.container__home-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*--- Container Single ---*/
.container__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
}

@media only screen and (max-width: 68.75em) {
  .container__single {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 20em) {
  .container__single {
    padding: 1.5rem;
  }
}

.container__single > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container__single__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 68.75em) {
  .container__single__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

.container__single__img img {
  max-height: 70vh;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  border-radius: 10px;
  border: 10px solid #ffae00;
}

@media only screen and (max-width: 75em) {
  .container__single__img img {
    max-height: 55vw;
  }
}

@media only screen and (max-width: 56.25em) {
  .container__single__img img {
    max-height: 55vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__single__img img {
    max-height: 65vw;
  }
}

@media only screen and (max-width: 20em) {
  .container__single__img img {
    max-height: 80vw;
  }
}

.container__single__noimg {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 80% !important;
          flex: 1 1 80% !important;
}

.container__single__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 3rem;
}

@media only screen and (max-width: 75em) {
  .container__single__details {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .container__single__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    padding: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__single__details {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__single__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    margin-top: 0rem;
    padding: 1.5rem;
  }
}

.container__single__details-details {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .container__single__details-details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__single__details-details {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .container__single__details-details {
    font-size: 1.5rem;
  }
}

.container__single__details-name {
  color: var(--color-primary);
  font-weight: 100;
  font-size: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .container__single__details-name {
    font-size: 3rem;
  }
}

.container__single__details-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__single__details-details > *:not(:last-child) {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .container__single__details-details > *:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .container__single__details-details > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.container__single__details-details > * ion-icon[class*='icon'] {
  margin-right: 5px;
  color: var(--color-primary);
  font-size: 2rem;
}

.container__single__details-details > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__single__details-directions {
  font-size: 1.7rem;
  font-weight: 100;
}

@media only screen and (max-width: 75em) {
  .container__single__details-directions {
    font-size: 1.7rem;
  }
}

.container__single__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .container__single__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container__single__buttons > *:last-child {
  margin-left: 2rem;
}

.container__single .details__actions-later,
.container__single .details__actions-favourite {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 0rem;
  line-height: 1;
}

.container__single .details__actions-later .icon,
.container__single .details__actions-favourite .icon {
  font-size: 2.5rem;
  font-weight: 900;
}

.container__single .details__go-back {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1.5rem 3rem;
  float: left;
}

@media only screen and (max-width: 56.25em) {
  .container__single .details__go-back {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .container__single .details__go-back {
    margin-bottom: 2rem;
    padding: 1rem 3rem;
  }
}

.container__single .details__go-back .icon {
  font-size: 2.5rem;
  font-weight: 400;
  margin-right: 10px;
  margin-right: 10px;
}

.container__single .details__go-next {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container__single .details__go-next .icon {
  margin-left: 10px;
}

/*--- Container Search ---*/
.container__search {
  width: 100%;
}

.details__alcohol {
  margin-right: auto;
}

@media only screen and (max-width: 37.5em) {
  .details__alcohol {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/*--- Container Results ---*/
.container__results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  grid-gap: 6rem 4rem;
  margin-bottom: 4rem;
}

/*--- Container End ---*/
.result {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.result__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  position: relative;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  border-radius: 1px;
  border: 3px solid var(--color-bright);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-bright);
}

@media only screen and (max-width: 75em) {
  .result__img {
    height: 44vh;
  }
}

@media only screen and (max-width: 68.75em) {
  .result__img {
    height: 36vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .result__img {
    height: 60vw;
  }
}

@media only screen and (max-width: 20em) {
  .result__img {
    height: 100vw;
  }
}

.result__img .emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.result__img span {
  font-size: 5rem;
}

.result__name__noimg {
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  padding: 2rem;
}

.result__details {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  -webkit-transition: opacity, 0.3s, -webkit-transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, 0.3s, -webkit-transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 0.3s;
  transition: opacity, transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 0.3s, -webkit-transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (max-width: 56.25em) {
  .result__details {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
    visibility: visible;
  }
}

.result__name {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
}

.result:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 56.25em) {
  .result:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.result:hover .result__img {
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
}

.result:hover .result__details {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.results__pagination {
  display: block;
  width: 100%;
}

.results__pagination:after {
  content: '';
  display: table;
  clear: both;
}

.results__pagination .button {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: auto;
  margin-bottom: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1.5rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .results__pagination .button {
    width: auto;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 20em) {
  .results__pagination .button {
    width: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
}

.results__pagination .button ion-icon {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  padding-left: 1rem;
}

.results__pagination .details__go-prev {
  float: left;
}

.results__pagination .details__go-prev .icon {
  margin-right: 10px;
}

.results__pagination .details__go-next {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.results__pagination .details__go-next i {
  margin-left: 10px;
}

/* == RECIPE == */
.recipe:hover .recipe__info-buttons {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.recipe__love {
  background-color: var(--color-bright);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe__love:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.recipe__love:focus {
  outline: none;
}

.recipe__ingredients {
  padding: 4rem 5rem;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.4;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__ingredient-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 3rem;
}

.recipe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-bright);
  border: 1px solid var(--color-bright);
  border-radius: 50%;
  padding: 2px;
  margin-right: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 0.1rem;
}

.recipe__count {
  margin-right: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* == SHOPPING LIST == */
.shopping {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: shopping;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping__list {
  list-style: none;
  max-height: 77rem;
  overflow: scroll;
}

.shopping__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.3rem 0;
  border-bottom: 1px solid #f2efee;
  position: relative;
}

.shopping__count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.5rem;
          flex: 0 0 7.5rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #f2efee;
  border-radius: 3px;
  margin-right: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__count input {
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  width: 3.7rem;
  border-radius: 3px;
}

.shopping__count input:focus {
  outline: none;
  background-color: #f2efee;
}

.shopping__count p {
  font-size: 1.2rem;
}

.shopping__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-right: 1.5rem;
}

.shopping__delete {
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, #fff), to(#fff));
  background-image: linear-gradient(to right, transparent 0%, #fff 40%, #fff 100%);
  width: 3.75rem;
  padding-left: 2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shopping__item:hover .shopping__delete {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */