/* == HEADER == */
.header {
  
  background-color: var(--color-primary-light);
  display: flex;
  position: relative;
  z-index: 999;
  height: 8rem;
  justify-content: flex-start;
  font-size: 1.2rem;
  box-shadow: var(--shadow-light);

  & .logo {
    display: flex;
    line-height: 1;
    padding: 2rem 4rem;
    align-self: stretch;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.8rem;
    background-color: var(--color-bright);
    color: #fff;

    & ion-icon {
      font-size: 2rem;
      line-height: 1;
      margin-right: .5rem;
    }

    &__title {
      @media only screen and (max-width: $bp-large) {
        display: none;
      }
    }
    @media only screen and (max-width: $bp-small) {
      padding: 1rem 1.5rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem 1rem;
    }
  }

  & .search {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    max-width: 60rem;
    width: 100%;
    color: var(--color-primary);
    padding: .8rem 1.6rem;
    margin-left: 4rem;
    margin-right: auto;
    border: solid 2px var(--color-primary);
    border-radius: 10rem;

    @media only screen and (max-width: $bp-large) {
      margin-left: 2rem;
      width: 50%;
    }

    @media only screen and (max-width: $bp-small) {
      margin-left: auto;
      margin-right: auto;
      padding: .5rem;
    }

    input {
      font-family: inherit;
      font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1100 - 300)));
      width: 100%;
      color: inherit;
      background-color: transparent;
      border: none;
      border-radius: 10rem;
      padding-left: 1rem;

      &:focus {
        border: none;
        outline: none;
      }
    }

    &__btn {
      z-index: 9999;
      color: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  
  & .menu {
    display: flex;
    font-size: 3rem;
    height: 100%;

    & > div {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      color: var(--color-primary);
      opacity: 1;
      padding: 0 3rem;
      visibility: visible;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-large) {
        padding: 0 2rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        padding: 0 .5rem;
        border: #fdbb2d 2px solid;
      }

      &:hover {
        background-color: var(--color-bright);
      }
    }

    &__favourite {
      &:hover .menu__favourite__panel {
        visibility: visible;
        opacity: 1;
        transform: translateY(-2px);
      }

      &__panel {
        position: absolute;
        max-height: 75vh;
        overflow-y: auto;
        border-radius: 0 0 .5rem .5rem;
        right: 0;
        top: 8rem;
        z-index: 999999;
        padding: 0rem;
        width: 30rem;
        background-color: var(--color-bright);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
        list-style: none;

        @media only screen and (max-width: $bp-smallest) {
          width: 25rem;
        }
      }
    }
  }
  .liked__item__panel {
    display: block;

    a:last-of-type {
      border-radius: 0 0 5px 5px;
    }

    &__div {
      display: flex;
      align-items: center;
      padding: 2rem 3rem;

      @media only screen and (max-width: $bp-small) {
        padding: 1.5rem 2.5rem;
        flex-direction: row-reverse;
      }

      &:hover {
        background-color: var(--color-primary);
      }
    }

    &__img {
      max-width: 6rem;
      height: 8rem;
      border-radius: 2px;
      margin-right: 2rem;
      object-fit: cover;
      box-shadow: var(--shadow-dark);

      @media only screen and (max-width: $bp-small) {
        max-width: 5rem;
        height: 7rem;
        margin-right: 0rem;
        margin-left: 2rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        max-width: 4rem;
        height: 6rem;
        margin-right: 0rem;
        margin-left: 1.5rem;
      }
    }

    &__title {
      font-size: 1.6rem;
      line-height: 1.2;
      color: var(--color-primary-light);
      font-weight: 100;
    }
  }
}